<div class="gyms_near_field">
<br>gyms near: <%= @user.address %></br>
<a href="<%= root_path %>">change address</a>  
</div>      
<ul class="gyms">
<% @items.each do |item| %>
  <% item_id = item['id'] %>
  <li><%= link_to item['name'], pass_path(item) %></li>
<% end %>
</ul>