<%-#home page index view from users controller%>

<div class="landing_main_container">


  <div class="landing_logo_main_container">
    <div class="landing_logo_container">
        <span id="landing_logo">one day gym pass</span>
      <div= class="landing_logo_image"></div>
    </div>
   

<div class="landing_explainer">
Day passses to gyms in your area.  
</div>   

<form class="find_gyms_form" action="passes/index" method="POST">

  <input id="address_input_find_gym" type="text" name="user_input_address" placeholder="enter your address" />
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <button type="submit"class="btn btn-primary find_gyms">Find gyms</button>
</form>
</div>
</div>
