body {
  background-image: url('gym_pass.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/*gyms_near_field*/
.gyms_near_field {
  float:right;
}

#gym_near_address {
  font-weight: bold;
}

/*gym_search_results_table*/

/*main container*/
.main_container {
  width: 70%;
  height: 100%;
  position: relative;
  top: -120px;
  background-color: white;
  border-radius: 10px;
}

.gym_details_container {
  /*width: 70%;*/
  height: 900px;
  position: relative;
  top: -120px;
  background-color: white;
  border-radius: 10px;
  margin: auto 0;
}

/*logo*/

.gym_results_logo_main_container {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
  
.gym_results_logo_container {
  height: 180px;
  background-color: gray;
  border-radius: 8px;
}

#gym_results_logo {
  position: relative;
  top: 60px;
  font-size: 38px;
  font-weight: bold;
  color: white;
  padding-left: 5px;
}

/*gym results table header panel*/

.header.row {
  margin-top: 10px;
  margin: auto 0; 
  background-color: green;
  border-radius: 8px;
}



.gym_results_header {
  display: inline;
  padding-top: 15px;
  padding-bottom: 3px;
  background-color: green;
  border-radius: 15px;
  color: white;
}

/*gym_name header*/
.mine.col-md-2.gym_results_header {
  margin-left: 98px;
  margin-right: 2px;
}

/*What Customers Say header*/
.mine2.col-md-3.gym_results_header {
  margin-left: 30px;
}

.mine3.col-md-1.gym_results_header {
  margin-left: 230px;
}

tr.gym_results_details_row {
  border-bottom: 1px solid gray;
  border-bottom-style: dotted;
}

td.gym_results_image_column {
  padding-left: 2px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

td.gym_results_name_column {
  width: 20%;
  padding-left: 10px;
  padding-bottom: 10px;
}

#gym_results_business_name_style {
  font-weight: bold;
  font-size: 20px;
}

td.gym_results_customers_column {
  padding-left: 10px;
  padding-bottom: 10px;
}

td.gym_results_distance_column {
  width: 10%;
  padding-left: 10px;
  padding-bottom: 10px;
}

/*gym details page*/

#map {
  padding-left: 20px;
}

/*.logo {
  width: 100%;
  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;

}*/
